.button {
  width: 220px;
  height: 25px;
  color: white;
  background-color: #4CAF50;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    transition: all .3s ease;
    background-color: #008905;
  }
}