.garage-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  .garage-items {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2rem 0 2rem;
    padding: 0;
  }
}